/bookstore_website
/diploma_materials
/USE CASE1.vsdx
/~$_ДП_09.02.07.docx
/БД.txt
/диаграммы
/Диплом Жеки.docx
/Диплом Жеки_extract.txt
/Диплом пример.docx
/Диплом пример_extract.txt
/Диплом Сани.docx
/Диплом Сани_extract.txt
/книги
/Мой диплом.backup_before_2_2_2_4_3.docx
/Мой диплом.backup_before_2_4_4.docx
/Мой диплом.docx
/Мой диплом_backup_before_2_2_update.docx
/Мой диплом_backup_before_2_3_update.docx
/Мой диплом_extract.txt
/МУ_ДП_09.02.07.docx
/МУ_ДП_09.02.07_extract.txt
/Список источников.txt